<div class="container-color">
  <p id="notice"><%= notice %></p>

  <h1>
    <strong>Name:</strong>
    <%= @student.name %>
  </h1>

  <h3>
    <strong>Email:</strong>
    <%= @student.email %>
  </h3>

  <h3>
    <strong>Classes:</strong>
  </h3>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Percentage</th>
        <th>Letter Grade</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @student.enrolls.each do |enroll| %>
          <tr>
            <td><%= enroll.course.name %></td>
            <td><%= enroll.percentage %></td>
            <td><%= enroll.lettergrade %></td>
            <td><%= link_to 'Remove From Course', enroll, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>


  <%= link_to 'Edit', edit_student_path(@student) %> |
  <%= link_to 'Back', students_path %>
</div>

